{{ define "main" }}

<section class="cf pa3 pa4-ns w-100 flex-l items-center">

<!-- image-->
  <div class="w-30-l dn-m db-l pl4-l">
    <img src=" https://raw.githubusercontent.com/dh-tech/wg-education-training/refs/heads/website/static/images/hippocoding4.png" alt="Hippocoding" class="w-100 br3">
  </div>
    <!-- Main content-->
  <article class="pa3 pa4-ns w-100 w-70-ns center f4 lh-copy tc {{ $.Param "text_color" | default "mid-gray" }}">
    {{ .Content }}
  </article>
  

</section>

{{ end }}
