{{ define "main" }}
  <div class="flex-l mt2 mw9 center">
    
    <article class="cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
      </div>
    </article>

    <aside class="dn db-l w-30 pl4">
      <nav class="sticky top-2">
        <h2 class="f5 ttu tracked gray">On this page</h2>
        {{ .TableOfContents }}
      </nav>
    </aside>

  </div>
{{ end }}

