{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>

    <!-- Taxonomy Tabs -->
    <div class="tc mv4">
      <h4 class="f4 mb3 dark-gray">Filters:</h4>
      <nav>
        {{ range $name, $taxonomy := site.Taxonomies.status }}
          <a class="f5 link dim br3 ba bw1 ph3 pv2 ma2 dib dark-blue" href="{{ "/wg-education-training/status/" | relURL }}{{ $name | urlize }}/">
            {{ $name | title }}
          </a>
        {{ end }}
      </nav>
    </div>


    
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range (reverse .Paginator.Pages) }}
        <div class="relative w-100 w-30-l mb4 bg-white br4">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
