{{ define "main" }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center tc f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      <p>{{ i18n "taxonomyPageList" . | safeHTML }}</p>
    </div>
  </article>

    <!-- Taxonomy Tabs -->
    <div class="tc mv4">
      <h4 class="f4 mb3 dark-gray">Filters:</h4>
      <nav>
        {{ range $name, $taxonomy := site.Taxonomies.status }}
          <a class="f5 link dim br3 ba bw1 ph3 pv2 ma2 dib dark-blue" href="{{ "/status/" | relURL }}{{ $name | urlize }}/">
            {{ $name | title }}
          </a>
        {{ end }}
      </nav>
    </div>

  <div class="mw8 center">
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range  .Pages }}
        <div class="relative w-100 w-30-l br4 mb4 bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
